<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8" />
	<title>Psychology Experiment</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
	<link rel="icon" href="/static/favicon.ico" />
</head>

<body>
	<div id="container-not-an-ad" class="media">
		<div class="media-body">
			<h1>Thanks for playing!</h1>
			<hr />
			<div>
				Please return to your previous questionnaire tab and <strong>press submit</strong> to continue.
			</div>
		</div>
	</div>
</body>

</html>
