<!DOCTYPE html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Psychology Experiment - Information Sheet for Online Research. Version 1.2   24/09/2020 R17008/RE001</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <link rel="icon" href="/static/favicon.ico" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
        <style>
			@media print {
				body * {
					visibility: hidden;
				}
				.legal, .legal * {
					visibility: visible;
				}
				.legal {
					position: absolute;
					left: 0;
					top: 0;
					overflow:visible;
				} 
			}
		</style>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>We need your consent to proceed. Please read the information, and tick the boxes at the bottom to begin.</h1>
                <hr />
                <div class="legal well">
                    <DIV TYPE=HEADER>
                    	<P LANG="en-US" ALIGN=LEFT STYLE="widows: 0; orphans: 0"><BR><BR>
                    	</P>
                    	<TABLE WIDTH=690 CELLPADDING=7 CELLSPACING=0>
                    		<COL WIDTH=544>
                    		<COL WIDTH=118>
                    		<TR>
                    			<TD WIDTH=544 HEIGHT=102 VALIGN=TOP BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    				<P LANG="en-US" ALIGN=LEFT STYLE="widows: 0; orphans: 0"><IMG SRC="{{ server_location }}/static/images/NDCN.png" NAME="Picture 4" ALIGN=LEFT HSPACE=12 WIDTH=466 HEIGHT=116 BORDER=0><BR>
                    				</P>
                    			</TD>
                    			<TD WIDTH=118 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    				<P LANG="en-US" ALIGN=LEFT STYLE="widows: 0; orphans: 0"><IMG SRC="{{ server_location }}/static/images/university.png" NAME="Picture 46" ALIGN=BOTTOM HSPACE=1 VSPACE=1 WIDTH=113 HEIGHT=113 BORDER=0></P>
                    			</TD>
                    		</TR>
                    		<TR>
                    			<TD COLSPAN=2 WIDTH=676 BGCOLOR="#ffffff" STYLE="border: none; padding: 0in">
                    				<P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    				Chief Investigator: Prof. Sanjay Manohar</P>
                    				<P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    				University Offices, Level 6, West Wing, John Radcliffe Hospital,
                    				Oxford, OX3 9DU</P>
                    				<P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    				TEL direct line: (01865) 223343, E-MAIL:
                    				sanjay.manohar@ndcn.ox.ac.uk</P>
                    				<P LANG="en-US" ALIGN=LEFT STYLE="widows: 0; orphans: 0"><BR>
                    				</P>
                    			</TD>
                    		</TR>
                    	</TABLE>
                    	<P LANG="de-DE" ALIGN=LEFT STYLE="margin-bottom: 0.35in; widows: 0; orphans: 0">
                    	<BR><BR>
                    	</P>
                    </DIV>
                    
                    
                    <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 0; orphans: 0">
                    <FONT SIZE=4><B>Rewards and Costs in Online Decisions</B></FONT></P>
                    <P LANG="en-US" CLASS="western" ALIGN=CENTER STYLE="widows: 0; orphans: 0">
                    CUREC Approval Reference: R71008/RE001</P>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                     
                    </P>
                    <H1 LANG="en-US" CLASS="western">General Information</H1>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    The aim of this study is to investigate how people incorporate
                    rewards and costs into their decision-making. Motivational problems
                    (e.g. apathy) are found in a range of psychiatric and neurological
                    disorders, and affect how willing people are to put effort into
                    tasks, and how they value rewards and costs.</P>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    We appreciate your interest in participating in this online study.
                    You have been invited to participate as you are aged 18-80 years.
                    Please read through this information before agreeing to participate
                    by ticking the ‘yes’ box below.</P>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    You may ask any questions before deciding to take part by contacting
                    the researcher (details below).</P>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    We (Sanjay Manohar &amp; John Grogan) at the University of Oxford are
                    investigating motivation. You will be shown objects on the screen and
                    will either have to make decisions about them, or remember them for
                    short durations. You will also be asked to answer some questions
                    about yourself. The session will take maximum 2 hours to complete. No
                    background knowledge is required. This data will be analysed for
                    research purposes, and published in research journals.</P>
                    <H1 LANG="en-US" CLASS="western">Do I have to take part?</H1>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    No, your participation is voluntary. If you do decide to take part,
                    you may withdraw at any point during the study for any reason before
                    submitting your answers by pressing the ‘Exit’ button/closing the
                    browser. 
                    </P>
                    <H1 LANG="en-US" CLASS="western"><SPAN LANG="en-GB">What will happen
                    to me if I take part in the research? </SPAN>
                    </H1>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    <SPAN LANG="en-GB">If you are happy to take part in the study, you
                    will firstly be asked to consent online. Once this is done, you are
                    given permission to commence the study part of the session. You will
                    be asked to give some information about yourself, such as your age,
                    gender, and level of education, and answer standardised
                    questionnaires assessing mood, behaviour, general health and
                    wellbeing. This is then followed by a number of computer-based tasks
                    aimed at examining how rewards and costs affect your motivation
                    during decision-making and memory. </SPAN>
                    </P>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    <SPAN LANG="en-GB">Tasks involve abstract coloured objects which will
                    be presented on the screen. Depending on the task, you will be
                    instructed to either memorise or decide something about the stimuli.
                    Prior to each task, you will complete a set of practice trials,
                    allowing you to be familiarised with task procedures. You may
                    withdraw from the study at any time, without giving a reason, by
                    closing the study browser. </SPAN>
                    </P>
                    <H1 LANG="en-US" CLASS="western"><SPAN LANG="en-GB">Are there any
                    potential risks in taking part? </SPAN>
                    </H1>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    <SPAN LANG="en-GB">There is no known risk involved in the
                    participation of this study. </SPAN>
                    </P>
                    <H1 LANG="en-US" CLASS="western"><SPAN LANG="en-GB">Are there any
                    benefits in taking part? </SPAN>
                    </H1>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    <SPAN LANG="en-GB">There will be no direct benefit to you from taking
                    part in this research. </SPAN>
                    </P>
                    <H1 LANG="en-US" CLASS="western"><SPAN LANG="en-GB">Expenses and
                    payments </SPAN>
                    </H1>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    <SPAN LANG="en-GB">You will receive £8 per hour for participation,
                    plus a bonus of up to £3 dependent on your performance in the task.</SPAN></P>
                    <H1 LANG="en-US" CLASS="western">How will my data be used?</H1>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    <FONT COLOR="#000000"><FONT FACE="Calibri, serif"><SPAN STYLE="background: #ffffff">We
                    will not be collecting data that can directly identify you (such as
                    your name or date of birth)</SPAN></FONT></FONT>, and we will take
                    all reasonable measures to ensure that the information you provide
                    remains confidential. The research data will be stored confidentially
                    by assigning a code (study ID). 
                    </P>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    Your data will be stored in a password-protected file and may be used
                    in academic publications. Your IP address will not be stored. We have
                    included a ‘Prefer not to say’ option for each set of questions,
                    should you prefer not to answer a particular question. Research data
                    will be stored for as long as it is of continuing value to the
                    research community.</P>
                    <H1 LANG="en-US" CLASS="western">Who will have access to my data?</H1>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0"><A NAME="_GoBack"></A>
                    <FONT COLOR="#000000">We use www.qualtrics.com for online
                    questionnaires. </FONT><FONT COLOR="#000000">Qualtrics</FONT><FONT COLOR="#000000">
                    LLC is the data controller with respect to your personal data a</FONT>nd,
                    as such, will determine how your personal data is used.&nbsp; Please
                    see their privacy notice here
                    <A HREF="https://www.qualtrics.com/privacy-statement">https://www.qualtrics.com/privacy-statement</A>.
                    <FONT COLOR="#000000">We use Pavlovia.org
                    (</FONT><A HREF="https://pavlovia.org/docs/home/ethics">https://pavlovia.org/docs/home/ethics</A><FONT COLOR="#000000">),
                    Gorilla.sc (</FONT><A HREF="https://gorilla.sc/privacy">https://gorilla.sc/privacy</A><FONT COLOR="#000000">),
                    or our own server on Amazon Mechanical Turk
                    (</FONT><A HREF="https://www.mturk.com/privacy-notice">https://www.mturk.com/privacy-notice</A><FONT COLOR="#000000">)
                    to run the online experiments, which are the data controllers with
                    respect to your personal data. These sites </FONT>will share only
                    de-identified data with the University of Oxford, for the purposes of
                    research.</P>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    The University of Oxford is the data controller with respect to your
                    de-identified data collected in this study. The University will
                    process your data for the purpose of the research outlined above.
                    Research is a task that we perform in the public interest.  <FONT COLOR="#000000"><SPAN STYLE="background: #ffffff">Further
                    information about your rights with respect to your data is available
                    from </SPAN></FONT><FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="https://compliance.admin.ox.ac.uk/individual-rights">https://compliance.admin.ox.ac.uk/individual-rights</A></U></SPAN></FONT><FONT COLOR="#000000"><SPAN STYLE="background: #ffffff">.</SPAN></FONT></P>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    We would also like your permission to use your data in future
                    studies, and to share data with other researchers (e.g. in online
                    databases).</P>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    Responsible members of the University of Oxford and funders may be
                    given access to data for monitoring and/or audit of the study to
                    ensure we are complying with guidelines, or as otherwise required by
                    law.</P>
                    <H1 LANG="en-US" CLASS="western">Will the research be published?</H1>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    The findings from this research may be published in an appropriate
                    peer-reviewed, open-access scientific journal, and/or presented at an
                    appropriate meeting and/or conference.</P>
                    <H1 LANG="en-US" CLASS="western">Who is organising and funding the
                    research?</H1>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    This research is funded by the Medical Research Council (MRC). 
                    </P>
                    <H1 LANG="en-US" CLASS="western">Who has reviewed this study?</H1>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    This study has been reviewed by, and received ethics clearance
                    through, the University of Oxford Central University Research Ethics
                    Committee (Reference number: R71008/RE001)</P>
                    <H1 LANG="en-US" CLASS="western">Who do I contact if I have a concern
                    about the study or I wish to complain?</H1>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    If you have a concern about any aspect of this study, please speak to
                    John Grogan (<FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="mailto:john.grogan@ndcn.ox.ac.uk">john.grogan@ndcn.ox.ac.uk</A></U></SPAN></FONT>)
                    or Sanjay Manohar (<FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="mailto:sanjay.manohar@ndcn.ox.ac.uk">sanjay.manohar@ndcn.ox.ac.uk</A></U></SPAN></FONT>),
                    and we will do our best to answer your query. We will acknowledge
                    your concern within 10 working days and give you an indication of how
                    it will be dealt with.  If you remain unhappy or wish to make a
                    formal complaint, please contact the Chair of the Medical Sciences
                    Interdivisional Research Ethics Committee at the University of Oxford
                    who will seek to resolve the matter as soon as possible: 
                    </P>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    Email: ethics@medsci.ox.ac.uk; Address: Research Services, University
                    of Oxford, Wellington Square, Oxford OX1 2JD 
                    </P>
                    <H1 LANG="en-US" CLASS="western">Further Information and Contact
                    Details</H1>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    If you would like to discuss the research with someone beforehand (or
                    if you have questions afterwards), please contact:</P>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    Dr John Grogan, email: <FONT COLOR="#0000ff"><SPAN LANG="zxx"><U><A HREF="mailto:john.grogan@ndcn.ox.ac.uk"><FONT SIZE=3>john.grogan@ndcn.ox.ac.uk</FONT></A></U></SPAN></FONT><FONT SIZE=3>
                    </FONT>
                    </P>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    <BR><BR>
                    </P>
                    

                    
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    <FONT SIZE=3><B>Please note that you may only participate in this
                    survey if you are 18 years of age or over.</B></FONT></P>
                    
                    
                    <form>
                        <input type="checkbox" id="ageCheck" value="yes" onchange="document.getElementById('consentCheck').disabled = !this.checked;">
                        <label for="ageCheck"> I certify that I am 18 years of age or over</label>
                    </form>
                    
                        
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                    <FONT SIZE=3><B>If you have read the information above and agree to
                    participate with the understanding that the data (including any
                    personal data) you submit will be processed accordingly, please check
                    the relevant box below to get started.</B></FONT></P>
                    <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="widows: 0; orphans: 0">
                     
                    </P>
                    <form>
                        <input type="checkbox" id="consentCheck" value="yes"  onchange="document.getElementById('beginButton').disabled = !this.checked;" disabled>
                        <label for="consentCheck">Yes, I agree to take part</label>
                    </form>
                    
                    <DIV TYPE=FOOTER>
                    	<P LANG="en-US" ALIGN=LEFT STYLE="widows: 0; orphans: 0"><FONT SIZE=2>Participant
                    	Information Sheet for Online Research. Version 1.2   24/09/2020	<SDFIELD TYPE=PAGE SUBTYPE=RANDOM FORMAT=PAGE>1</SDFIELD></FONT></P>
                    </DIV>


                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr />
                <h4>Click the button below to being the experiment</h4>
                <br />

                <center>
                    <button type="button" class="btn btn-primary btn-lg" id="beginButton" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'" disabled>
                    <span class="glyphicon glyphicon-ok"></span> Begin experiment
                    </button>
                    
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> Exit without beginning experiment
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>

